.button {
    font-family: $font-family-roboto;
    font-size: $basic-font-size;
    padding: $standard-element-padding;
    margin: $standard-element-margin-y $standard-element-margin-x;
    background-color: $blue;
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.header-blue-button {
    border-radius: 0;
    margin-right: $margin-20px;
}

.header-video-button {
    background-color: transparent;
    color: $voilet;
    border: 1px solid $voilet;
}
.form-white-button {background-color: $white;
color: $dark-grey;
border: 0px;}