.coments-section {
    background-color: $blue;
    padding: $mobile-sections-padding;
    color: $white;

    h2 {
        color: inherit;
    }

    .contact-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .data-contact-container {
            margin: $margin-20px auto $no-margin;
            width: 100%;

            .data-contact-item {
                display: flex;


                .data-contact-img,
                .data-contact-p {
                    display: flex;
                    align-items: center;
                    padding: $standard-element-padding;
                    margin-left: $margin-20px;
                }

                .data-contact-img {
                    justify-content: center;
                    width: 20%;
                }

                .data-contact-p {
                    width: 80%;
                    justify-content: left;
                }
            }
        }
    }
}


@media (min-width: $media-mobile) {
    .coments-section {padding: $small-sections-padding;
        .contact-container {
            display: flex;
            align-items: flex-start;
            flex-direction: row;

            .data-contact-container {
                max-width: 50%;
            }
        }
    }
}

@media(min-width:$media-lg) {
    .coments-section {
        padding: $medium-sections-padding;
    }
}

@media(min-width:$media-xl) {
    .coments-section {
        padding: $standard-sections-padding;
    }
}