.form-section {
    display: flex;

    .p-display-none {
        display: none;
    }


    .form-alert,
    .form-alert2 {
        text-transform: none;
        cursor: auto;
    }


    .empty,
    .empty:focus {
        border: 1px solid red;
        color: red;
    }

    .empty::placeholder {
        color: red;
    }

    img {
        display: none;
    }

    .form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $blue;
        padding: $mobile-sections-padding;
    }
}

form.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-width-100 {
        width: 100% !important;
        border: 1px solid $white;
    }
    .form-alert,
    .form-alert2 {
        text-transform: none;
        cursor: auto;
    }


    .empty,
    .empty:focus {
        border: 1px solid red;
        color: red;
    }

    .empty::placeholder {
        color: red;
    }
}

.input-width-100 {
    padding: $standard-element-padding;
    width: 100%;
    background-color: $blue;
    border: 0px;
    border-bottom: 1px solid $white;
    margin: $standard-element-margin-y $no-margin;
    color: $white;
    text-transform: uppercase;
    font-size: $basic-font-size;

}

.input-width-100::placeholder {
    color: $white;
    font-size: $basic-font-size;
}

.input-width-100:focus {
    outline: none;
    border: 1px solid $white;
}

.input-width-50 {
    width: 48%;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@media (min-width: $media-mobile) {
    .form-section {
        img {
            display: block;
            min-height: 100%;
            max-width: 40%;
            object-fit: cover;
        }

        .form-container {
            max-width: 60%;
        }
    }

    .input-width-100 {
        width: 48%;
    }

    textarea.input-width-100 {
        width: 96%;
    }
}