#main-photo {
    display: none;
}

.bg-blue {
    background-color: $blue;
    color: $white;
}

.nav-container {
    padding: $no-padding $mobile-sections-padding-x;
    background-color: $white;
    display: flex;
    width: 100%;
    max-height: $basic-nav-height;
}

.nav-logo {
    a {
        img {
            max-height: $basic-nav-height;
            padding: $standard-element-padding;
        }
    }
}

.nav-menu {
    .nav-list {
        padding: $no-padding;

        .nav-list-element {
            font-family: $font-family-roboto;
            font-size: $nav-font-size;
            text-align: right;
            text-transform: uppercase;
            list-style-type: none;

            a {
                display: block;
                width: 100%;
                padding: $all-nav-list-padding;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

//  TOP
.basic-nav-container {
    position: fixed;
    z-index: 1;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid $dark-grey;
}

.basic-nav-button {
    display: block;
    line-height: $basic-nav-height;
    text-align: right;

    i {
        padding-right: $all-nav-list-padding-x;
        font-size: $nav-font-size;
    }
}

.basic-nav-button-display-none {
    display: none;
}

.basic-nav-menu {
    .basic-nav-list {
        display: none;
    }

    .basic-nav-open {
        display: block;
    }
}

// Footer

.footer-nav-container {
    position: static;
    flex-direction: column;
    align-items: center;
    padding: $mobile-sections-padding;

    p {
        padding: $standard-element-padding;
        color: $grey
    }
}

.footer-nav-logo {
    a {
        img {
            max-height: 150px;
            padding-left: 50px;
        }
    }
}

.nav-menu {
    .footer-nav-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .nav-list-element {
            text-align: center;
        }
    }
}



@media (min-width: $media-mobile) {
    .nav-container {
        padding: $no-padding $small-sections-padding-x;
    }

    .bg-blue {
        background-color: transparent;
        color: $dark-grey;
    }

    #main-photo {
        display: block;
        position: absolute;
        max-width: 40vw;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .basic-nav-container {
        justify-content: left;
        padding: 0 $small-sections-padding-x;

        .basic-nav-logo {
            padding: $no-padding;
        }

        .basic-nav-menu {
            .basic-nav-button {
                display: none;
            }

            .basic-nav-list {
                padding: $no-padding;
                display: flex;

                .basic-nav-list-element {
                    a {
                        line-height: $basic-nav-height;
                        padding: 0 10px;
                        color: inherit;
                    }
                }
            }
        }
    }

    .footer-nav-container {
        padding: $no-padding $small-sections-padding-x;
    }
    #main-photo {
        width: 25%;
    }
}

@media(min-width:$media-lg) {
    .nav-container {
        padding: $no-padding $medium-sections-padding-x;
    }
    #main-photo {
        width: 40%;
    }
}

@media(min-width:$media-xl) {
    .nav-container {
        padding: $no-padding $standard-sections-padding-x;
    }
}