@import url("https://fonts.googleapis.com/css2?family=Bellota&family=Roboto&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 16px 25px;
  margin: 20px 10px;
  background-color: #1ba4ce;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 20px;
  text-align: center;
}

.button a {
  color: inherit;
  text-decoration: none;
}

.header-blue-button {
  border-radius: 0;
  margin-right: 20px;
}

.header-video-button {
  background-color: transparent;
  color: #473452;
  border: 1px solid #473452;
}

.form-white-button {
  background-color: #fff;
  color: #30383b;
  border: 0px;
}

.p-above-h {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #473452;
  padding: 16px 0;
}

h2,
h3 {
  text-align: center;
  font-family: "Bellota", cursive;
  font-size: 42px;
  margin: 20px;
  color: #473452;
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

#main-photo {
  display: none;
}

.bg-blue {
  background-color: #1ba4ce;
  color: #fff;
}

.nav-container {
  padding: 0 3%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 100px;
}

.nav-logo a img {
  max-height: 100px;
  padding: 16px 25px;
}

.nav-menu .nav-list {
  padding: 0;
}

.nav-menu .nav-list .nav-list-element {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
}

.nav-menu .nav-list .nav-list-element a {
  display: block;
  width: 100%;
  padding: 15px 40px;
  text-decoration: none;
  color: inherit;
}

.basic-nav-container {
  position: fixed;
  z-index: 1;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #30383b;
}

.basic-nav-button {
  display: block;
  line-height: 100px;
  text-align: right;
}

.basic-nav-button i {
  padding-right: 40px;
  font-size: 15px;
}

.basic-nav-button-display-none {
  display: none;
}

.basic-nav-menu .basic-nav-list {
  display: none;
}

.basic-nav-menu .basic-nav-open {
  display: block;
}

.footer-nav-container {
  position: static;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 3%;
}

.footer-nav-container p {
  padding: 16px 25px;
  color: #687479;
}

.footer-nav-logo a img {
  max-height: 150px;
  padding-left: 50px;
}

.nav-menu .footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-menu .footer-nav-list .nav-list-element {
  text-align: center;
}

@media (min-width: 768px) {
  .nav-container {
    padding: 0 5%;
  }
  .bg-blue {
    background-color: transparent;
    color: #30383b;
  }
  #main-photo {
    display: block;
    position: absolute;
    max-width: 40vw;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .basic-nav-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0 5%;
  }
  .basic-nav-container .basic-nav-logo {
    padding: 0;
  }
  .basic-nav-container .basic-nav-menu .basic-nav-button {
    display: none;
  }
  .basic-nav-container .basic-nav-menu .basic-nav-list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .basic-nav-container .basic-nav-menu .basic-nav-list .basic-nav-list-element a {
    line-height: 100px;
    padding: 0 10px;
    color: inherit;
  }
  .footer-nav-container {
    padding: 0 5%;
  }
  #main-photo {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .nav-container {
    padding: 0 7%;
  }
  #main-photo {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    padding: 0 15%;
  }
}

.background-header-img {
  z-index: -1;
  position: absolute;
  top: 20%;
  left: -20px;
  width: 20%;
  max-height: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  margin-top: 100px;
  width: 100%;
  padding: 3% 3%;
  position: relative;
  font-family: "Roboto", sans-serif;
  padding: 3% 3%;
}

.header .p-above-h {
  font-family: "Bellota", cursive;
  text-align: left;
}

.header h1 {
  margin: 20px 0;
  font-family: "Bellota", cursive;
  font-size: 50px;
  color: #30383b;
}

.header .header-text {
  text-align: left;
  font-size: 15px;
}

.header .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}

@media (min-width: 768px) {
  .header {
    width: 75%;
    padding: 3% 5%;
  }
}

@media (min-width: 992px) {
  .header {
    width: 65%;
    padding: 3% 7%;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 70%;
    padding: 3% 15%;
  }
}

section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 3%;
}

@media (min-width: 768px) {
  section.about {
    padding: 3% 5%;
  }
}

@media (min-width: 992px) {
  section.about {
    padding: 3% 7%;
  }
}

@media (min-width: 1200px) {
  section.about {
    padding: 3% 15%;
  }
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-container .service-item {
  position: relative;
  width: 100%;
  height: 300px;
}

.services-container .service-item .service-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-container .service-item a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.services-container .service-item a .spa-icon {
  opacity: 0;
  height: 50px;
}

.services-container .service-item a p {
  opacity: 0;
  font-family: "Bellota", cursive;
  padding: 16px 25px;
}

.services-container .service-item a:hover {
  background-color: rgba(27, 164, 206, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services-container .service-item a:hover .spa-icon,
.services-container .service-item a:hover p {
  opacity: 1.0;
}

@media (min-width: 768px) {
  .services-container .service-item {
    width: 50%;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .services-container .service-item {
    width: 25%;
    height: 500px;
  }
}

.blog-section {
  padding: 3% 0;
}

.blog-section .blog-article-container {
  margin-top: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog-section .blog-article-container .blog-article-item {
  max-width: 370px;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b9b9b9;
  -webkit-box-shadow: 0 5px 20px #f0f0f0;
          box-shadow: 0 5px 20px #f0f0f0;
  padding: 16px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-section .blog-article-container .blog-article-item img {
  width: 100%;
}

.blog-section .blog-article-container .blog-article-item .blog-article-tag-data {
  width: 100%;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.blog-section .blog-article-container .blog-article-item .blog-article-tag-data .tag {
  border-right: 1px solid black;
  padding-right: 10px;
}

.blog-section .blog-article-container .blog-article-item .blog-article-tag-data .data {
  border-left: 1px solid black;
  padding-left: 10px;
}

.blog-section .blog-article-container .blog-article-item a.button {
  text-decoration: none;
  background-color: #30383b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-section .blog-article-container .blog-article-item a.button:hover {
  background-color: #1ba4ce;
}

.blog-section .blog-article-container .team-container {
  position: relative;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  overflow: hidden;
  height: 510px;
}

.blog-section .blog-article-container .team-container .team-data {
  position: absolute;
  top: -140px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-section .blog-article-container .team-container .team-data .team-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
}

.blog-section .blog-article-container .team-container .team-data .team-social-container a.team-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  min-height: 50px;
  border: 1px solid #30383b;
  border-radius: 50%;
  margin: 20px 10px;
  text-decoration: none;
  color: #30383b;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-section .blog-article-container .team-container .team-data .team-social-container a.team-social-item:hover {
  border: 1px solid #1ba4ce;
  background-color: #1ba4ce;
  color: #fff;
}

.blog-section .blog-article-container .blog-article-item:hover {
  -webkit-box-shadow: 0 5px 20px #687479;
          box-shadow: 0 5px 20px #687479;
}

.blog-section .blog-article-container .team-container:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-section .blog-article-container .team-container:hover .team-data {
  top: -140px;
}

.blog-p {
  padding: 3% 3%;
}

@media (min-width: 768px) {
  .blog-section .blog-article-container .team-container .team-data {
    top: -70px;
  }
  .blog-p {
    padding: 3% 5%;
  }
}

@media (min-width: 992px) {
  .blog-p {
    padding: 3% 7%;
  }
}

@media (min-width: 1200px) {
  .blog-section .blog-article-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blog-p {
    padding: 3% 15%;
  }
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section .p-display-none {
  display: none;
}

.form-section .form-alert,
.form-section .form-alert2 {
  text-transform: none;
  cursor: auto;
}

.form-section .empty,
.form-section .empty:focus {
  border: 1px solid red;
  color: red;
}

.form-section .empty::-webkit-input-placeholder {
  color: red;
}

.form-section .empty:-ms-input-placeholder {
  color: red;
}

.form-section .empty::-ms-input-placeholder {
  color: red;
}

.form-section .empty::placeholder {
  color: red;
}

.form-section img {
  display: none;
}

.form-section .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #1ba4ce;
  padding: 3% 3%;
}

form.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form.contact-form .input-width-100 {
  width: 100% !important;
  border: 1px solid #fff;
}

form.contact-form .form-alert,
form.contact-form .form-alert2 {
  text-transform: none;
  cursor: auto;
}

form.contact-form .empty,
form.contact-form .empty:focus {
  border: 1px solid red;
  color: red;
}

form.contact-form .empty::-webkit-input-placeholder {
  color: red;
}

form.contact-form .empty:-ms-input-placeholder {
  color: red;
}

form.contact-form .empty::-ms-input-placeholder {
  color: red;
}

form.contact-form .empty::placeholder {
  color: red;
}

.input-width-100 {
  padding: 16px 25px;
  width: 100%;
  background-color: #1ba4ce;
  border: 0px;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.input-width-100::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.input-width-100:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.input-width-100::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.input-width-100::placeholder {
  color: #fff;
  font-size: 16px;
}

.input-width-100:focus {
  outline: none;
  border: 1px solid #fff;
}

.input-width-50 {
  width: 48%;
}

::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (min-width: 768px) {
  .form-section img {
    display: block;
    min-height: 100%;
    max-width: 40%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .form-section .form-container {
    max-width: 60%;
  }
  .input-width-100 {
    width: 48%;
  }
  textarea.input-width-100 {
    width: 96%;
  }
}

.coments-section {
  background-color: #1ba4ce;
  padding: 3% 3%;
  color: #fff;
}

.coments-section h2 {
  color: inherit;
}

.coments-section .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.coments-section .contact-container .data-contact-container {
  margin: 20px auto 0;
  width: 100%;
}

.coments-section .contact-container .data-contact-container .data-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coments-section .contact-container .data-contact-container .data-contact-item .data-contact-img,
.coments-section .contact-container .data-contact-container .data-contact-item .data-contact-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 25px;
  margin-left: 20px;
}

.coments-section .contact-container .data-contact-container .data-contact-item .data-contact-img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

.coments-section .contact-container .data-contact-container .data-contact-item .data-contact-p {
  width: 80%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media (min-width: 768px) {
  .coments-section {
    padding: 3% 5%;
  }
  .coments-section .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .coments-section .contact-container .data-contact-container {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .coments-section {
    padding: 3% 7%;
  }
}

@media (min-width: 1200px) {
  .coments-section {
    padding: 3% 15%;
  }
}
/*# sourceMappingURL=style.css.map */